body {
    background-color: black;
    color: #fafafa;
}

header {
    background-color: #282828;
    color: #fafafa;
}

button {
    color: black;
    background-color: #fafafa;
    border-color: #fafafa;
}

a {
    color: #34e2eb;
}

tr:nth-of-type(odd) {
    background: rgba(127, 127, 127, 0.25);
}